/* 清除元素默认的内外边距 */
* {
    margin: 0;
    padding: 0;
}
/* 让斜体不斜体 */
em,
i {
    font-style: normal;
}
/* 去掉列表样式 */
li {
    list-style: none;
}
/* 图片没有边框 去掉图片底侧空白缝隙 */
img {
    /* ie6 */
    border: 0;  
    vertical-align: top;
}
/* 让button按钮变成小手 */
button {
    cursor: pointer;
}
/* 取消下划线 */
a {
    text-decoration: none;
}
button, 
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    outline: none;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}