@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?tomleg");
  src: url("../fonts/icomoon.eot?tomleg#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?tomleg") format("truetype"),
    url("../fonts/icomoon.woff?tomleg") format("woff"),
    url("../fonts/icomoon.svg?tomleg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.nav {
  overflow: hidden;
}
.sk {
  position: absolute;
  border-left: 1px solid #c81523;
  left: 190px;
  top: 40px;
  padding: 3px 0 0 14px;
}
.sk_list {
  float: left;
}
.sk_list ul li {
  float: left;
}
.sk_list ul li a {
  display: block;
  line-height: 47px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.sk_con {
  width: 812px;
  float: left;
}
.sk_con ul li {
  float: left;
}
.sk_con ul li a {
  display: block;
  line-height: 49px;
  padding: 0 20px;
  font-size: 14px;
}
.sk_con ul li:last-child a::after {
  font-family: "icomoon";
  content: "\e91e";
}

.sk_bd ul li {
  overflow: hidden;
  position: relative;
  float: left;
  width: 288px;
  height: 458px;
  border: 1px solid transparent;
  margin-right: 12px;
}
.sk_bd ul li :nth-child(4n) {
  margin-right: 0;
}
.sk_goods_title {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  padding: 10px;
}
.sk_goods_price {
  padding: 0 10px;
}
.sk_goods_price em {
  font-size: 22px;
  color: #e60012;
}
.sk_goods_price del {
  font-size: 14px;
  font-weight: 700;
  color: #a4a4a4;
}
.sk_goods_progress {
  padding: 0 10px;
}
.sk_goods_progress i {
  color: #f24349;
}
.bar {
  display: inline-block;
  width: 130px;
  height: 10px;
  border: 1px solid #b1191a;
  vertical-align: middle;
  margin: 0 5px;
  border-radius: 5px;
}
.bar_in {
  width: 87%;
  height: 10px;
  background-color: #f24349;
}
.sk_goods_progress em,
.sk_goods_progress i {
  color: #f24349;
}
.sk_goods_buy {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #b1191a;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
.sk_bd ul li:hover {
  border: 1px solid #c81523;
}
