/* footer start */

.site-footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.site-footer .list-service {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-footer .list-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    line-height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    text-align: center;
}

.site-footer .list-service .list-service-img {
    display: inline-block;
    width: 27px;
    margin: 0 auto;
}

.site-footer .footer-links {
    padding: 40px 0;
}

.site-footer .footer-links .col-links {
    float: left;
    width: 160px;
    margin: 0;
    color: #424242;
}

.footer-links .col-links dt {
    margin: -1px 0 26px;
    font-size: 14px;
}

.footer-links .col-links dd {
    margin: 10px 0 0;
    font-size: 12px;
}

.footer-links .col-contact {
    float: right;
    width: 251px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.site-footer .col-contact .phone {
    font-size: 22px;
    margin-bottom: 5px;
    line-height: 1;
    color: #ff6700;
}

.site-footer .col-contact .time {
    float: right;
    width: 251px;
    margin: 5px 0;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
    font-size: 12px;
}

.site-footer .col-contact .btn-line-primary {
    display: inline-block;
    width: 118px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 15px;
    font-size: 12px;
    border: 1px solid #ff6700;
    /* background-color: #ff6700 */
    color: #ff6700;
    text-align: center;
    cursor: pointer;
}

.site-footer .col-contact .btn-line-primary:hover {
    background-color: #ff6700;
    color: #ffffff;
}

.site-footer .col-contact .follow {
    font-size: 12px;
}


/* footer end */


/* info start */

.site-info {
    background-color: #fafafa;
    padding-top: 38px;
}

.info-others,
.info-others a {
    color: #b0b0b0;
    font-size: 12px;
}

.info-text .sites a {
    font-size: 12px;
    color: #757575;
}

.info-text .sites .sep {
    margin: 0 1px;
    color: #b0b0b0;
}

.info-links {
    margin-left: 67px;
    margin-top: 10px;
}

.info-links img {
    width: 85px;
    vertical-align: bottom;
}

.info-links .img1 {
    height: 40px;
    width: auto;
}

.site-info .slogan {
    width: 100%;
    height: 23px;
    margin: 50px 0;
    background: url(../img/footer/slogan2020.png) no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}


/* info end */