* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1226px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

li {
    list-style: none;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #ff6700;
}

.item:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transform: translate3d(0, -2px, 0);
    transition: all .3s;
}

.elli {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    background-color: #f5f5f5;
}

.top {
    background-color: #fff;
    padding-bottom: 30px;
}

.header {
    height: 120px;
    background: url(../img/top/topbar-img.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}

.shortcut {
    height: 40px;
    line-height: 40px;
    background-color: #333333;
}

.shortcut ul li {
    float: left;
    color: #b0b0b0;
    font-size: 12px;
}

.shortcut ul li a {
    color: #b0b0b0;
}

.shortcut ul li a:hover {
    color: #fff;
}

.shortcut .fl {
    margin-left: 0;
    width: 784px;
}

.shortcut .fr {
    width: 263px;
}

.shortcut .fl ul li:nth-child(even),
.shortcut .fr ul li:nth-child(even) {
    color: #424242;
    margin: 1px 7px 0;
}

.shortcut .fr ul li i {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../img/top/cart.png)no-repeat 0 0;
    background-size: 80%;
    vertical-align: middle;
}

.search {
    position: relative;
    height: 100px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 0;
    width: 55px;
    height: 55px;
    background-color: #ff6700;
}

.logo a {
    display: block;
    width: 55px;
    height: 55px;
    background: url(../img/top/mi-logo.png)no-repeat;
    background-position: 3px 3px;
    font-size: 0;
}

.hot {
    position: absolute;
    top: 28px;
    left: 225px;
}

.hot ul li {
    float: left;
    margin-left: 5px;
}

.hot ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 8px;
}

.searchbox {
    position: absolute;
    top: 25px;
    right: 3px;
    width: 296px;
    height: 50px;
}

.searchbox input {
    float: left;
    width: 244px;
    height: 48px;
    outline: none;
    border: 1px solid #e0e0e0;
}

.searchbox input:focus {
    border-color: #ff6700;
}

.searchbox button {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: -1px;
    outline: none;
    border: 1px solid #e0e0e0;
    background: url(../img/top/search.png)no-repeat;
    background-size: 60%;
    background-position: 10px 10px;
}

.searchbox button:focus {
    border-color: #ff6700;
}

.searchbox button:hover {
    background-color: #ff6700;
}

.nav {
    height: 644px;
}

.up {
    position: relative;
}

.dropdown {
    position: absolute;
    width: 234px;
    height: 460px;
    background-color: rgba(70, 70, 70, .4);
}

.dropdown ul {
    position: absolute;
    top: 20px;
    color: #ffffff;
    font-size: 14px;
}

.dropdown ul li {
    position: relative;
    height: 42px;
    width: 194px;
    line-height: 42px;
    padding: 0 20px;
}

.dropdown ul li:hover {
    background-color: #ff6700;
}

.dropdown ul li::after {
    content: '';
    float: right;
    width: 31px;
    height: 31px;
    background: url(../img/top/icon-slides.png)no-repeat -54px 4px;
    background-size: 260%;
}

.pic {
    width: 1226px;
    height: 460px;
}

.pic .prev,
.pic .next {
    position: absolute;
    width: 41px;
    height: 69px;
}

.pic .prev {
    top: 195px;
    left: 234px;
    background: url(../img/top/icon-slides.png)no-repeat -85px 0;
    background-size: 400%;
}

.pic .next {
    top: 195px;
    left: 1185px;
    background: url(../img/top/icon-slides.png)no-repeat -123px 0;
    background-size: 400%;
}

.pic .prev:hover,
.pic .next:hover {
    background-color: rgba(0, 0, 0, .5);
}

.pic ul {
    position: absolute;
    bottom: 20px;
    left: 1130px;
    width: 70px;
    height: 20px;
}

.pic ul li {
    float: left;
    width: 6px;
    height: 6px;
    border: 2px solid #889ca6;
    border-radius: 5px;
    margin: 3px;
}

.pic img {
    width: 100%;
    height: 100%;
}

.down {
    margin-top: 14px;
}

.down .left {
    float: left;
    width: 234px;
    height: 170px;
    background-color: #5f5750;
}

.down .left ul {
    margin: 3px;
}

.down .left ul li {
    float: left;
    width: 76px;
    height: 82px;
    text-align: center;
    font-size: 12px;
    color: #cfccca;
}

.down .left ul li i {
    display: inline-block;
    width: 76px;
    height: 40px;
}

.down .left ul li:nth-child(1) i {
    background: url(../img/top/mi-miaosha.png) no-repeat 25px 10px;
    background-size: 30%;
}

.down .left ul li:nth-child(2) i {
    background: url(../img/top/mi-tuangou.png) no-repeat 25px 10px;
    background-size: 30%;
}

.down .left ul li:nth-child(3) i {
    background: url(../img/top/mi-tongdao.png) no-repeat 25px 10px;
    background-size: 30%;
}

.down .left ul li:nth-child(4) i {
    background: url(../img/top/mi-card.png) no-repeat 25px 10px;
    background-size: 30%;
}

.down .left ul li:nth-child(5) i {
    background: url(../img/top/mi-exchange.png) no-repeat 25px 10px;
    background-size: 30%;
}

.down .left ul li:nth-child(6) i {
    background: url(../img/top/mi-chongzhi.png) no-repeat 25px 10px;
    background-size: 30%;
}

.down .right {
    float: left;
    width: 978px;
    height: 170px;
    margin-left: 14px;
}

.down .right ul li {
    float: left;
    width: 316px;
    height: 170px;
    margin-right: 15px;
}

.down .right ul li img {
    width: 100%;
    height: 100%;
}

.down .right ul li:nth-child(3) {
    margin-right: 0;
}

.hd {
    margin-top: 25px;
    height: 58px;
    line-height: 58px;
}

.hd h2 {
    font-weight: 300;
    color: #333333;
}

.hd h2 .ck {
    float: right;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
}

.hd h2 .ck::after {
    content: '';
    float: right;
    margin: 20px 0 0 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url(../img/top/icon-slides.png)no-repeat -20px -7px;
    background-size: 400%;
}

.t1 {
    text-align: center;
    font-size: 14px;
    color: #333;
}

.t2 {
    text-align: center;
    margin: 5px 8px 0 8px;
    font-size: 12px;
    color: #adadad;
}

.t3 {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
}

.t3 .xj {
    color: #ff6700;
}

.t3 .yj {
    color: #adadad;
    text-decoration: line-through;
    margin-left: 5px;
}

.shangou .hd h2::after {
    content: '';
    float: right;
    width: 60px;
    height: 25px;
    margin-top: 20px;
    border-radius: 5%;
    background: url(../img/top/icon-slides.png)no-repeat 0 -13px;
    background-size: 200%;
}

.shangou .sg_bd {
    height: 340px;
}

.shangou .sg_bd ul li {
    float: left;
    width: 234px;
    height: 340px;
    margin-right: 14px;
}

.shangou .sg_bd ul li:nth-child(5) {
    margin-right: 0;
}

.shangou .sg_bd ul li:first-child img {
    width: 100%;
    height: 100%;
}

.shangou .sg_bd ul li:nth-child(n+2) i {
    position: relative;
    display: inline-block;
    width: 234px;
    height: 250px;
}

.shangou .sg_bd ul li:nth-child(2) {
    height: 339px;
    border-top: 1px solid #00c0a5;
}

.shangou .sg_bd ul li:nth-child(3) {
    height: 339px;
    border-top: 1px solid #ffac13;
}

.shangou .sg_bd ul li:nth-child(4) {
    height: 339px;
    border-top: 1px solid #2196f3;
}

.shangou .sg_bd ul li:nth-child(5) {
    height: 339px;
    border-top: 1px solid #83c44e;
}

.shangou .sg_bd ul li i img {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
}

.shangou .mi10 {
    margin-top: 25px;
    height: 120px;
    overflow: hidden;
    background: url(../img/main/mi-shangou/mi10.webp)no-repeat;
    background-size: 100%;
}

.shouji .sj_bd {
    height: 628px;
}

.shouji .sj_bd ul li {
    float: left;
    width: 234px;
    height: 300px;
    margin-right: 14px;
    margin-bottom: 14px;
    background-color: #fff;
}

.shouji .sj_bd ul li:nth-child(1) {
    height: 614px;
}

.shouji .sj_bd ul li:nth-child(5) {
    margin-right: 0;
}

.shouji .sj_bd ul li:nth-child(9) {
    margin-right: 0;
}

.shouji .sj_bd ul li:first-child img {
    width: 100%;
    height: 100%;
}

.shouji .sj_bd ul li:nth-child(n+2) i {
    position: relative;
    display: inline-block;
    width: 234px;
    height: 200px;
}

.shouji .sj_bd ul li i img {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
}

.shouji .redmi {
    margin-top: 25px;
    height: 120px;
    overflow: hidden;
    background: url(../img/main/phone/redmi-tv.webp)no-repeat;
    background-size: 100%;
}

.jiadian .hd h2 a {
    float: right;
    height: 40px;
    line-height: 40px;
    margin: 10px 0 0 20px;
    font-size: 16px;
    font-weight: 500;
}

.jiadian .jd_bd {
    height: 628px;
}

.jiadian .jd_bd ul li {
    float: left;
    width: 234px;
    height: 300px;
    margin-right: 14px;
    margin-bottom: 14px;
    background-color: #fff;
}

.jiadian .jd_bd ul li:nth-child(5) {
    margin-right: 0;
}

.jiadian .jd_bd ul li:nth-child(5n+1) img {
    width: 100%;
    height: 100%;
}

.jiadian .jd_bd ul li:nth-child(n+2) i {
    position: relative;
    display: inline-block;
    width: 234px;
    height: 200px;
}

.jiadian .jd_bd ul li:nth-child(10),
.jiadian .jd_bd ul li:nth-child(11) {
    width: 229px;
    height: 108px;
    padding: 35px 0 0 5px;
    margin-bottom: 14px;
    margin-right: 0;
}

.jiadian .jd_bd ul li i img {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
}

.jiadian .jd_bd ul li:nth-child(10) i {
    float: right;
    width: 120px;
    height: 143px;
    background: url(../img/main/jiadian/img8.webp)no-repeat 20px -5px;
    background-size: 70%;
}

.jiadian .jd_bd ul li:nth-child(11) i {
    float: right;
    width: 120px;
    height: 143px;
    background: url(../img/main/jiadian/more.png)no-repeat 20px -5px;
    background-size: 50%;
}

.jiadian .jd_bd ul li:nth-child(10) .t1,
.jiadian .jd_bd ul li:nth-child(10) .t3 {
    margin-left: 10px;
}

.jiadian .door {
    margin-top: 25px;
    height: 120px;
    overflow: hidden;
    background: url(../img/main/jiadian/mi-door-block.webp)no-repeat;
    background-size: 100%;
}

.video .vd_bd {
    height: 299px;
    margin-bottom: 15px;
}

.video .vd_bd ul li {
    float: left;
    width: 296px;
    height: 285px;
    margin-right: 14px;
    background-color: #fff;
}

.video .vd_bd ul li:nth-child(4) {
    margin-right: 0;
}

.video .vd_bd ul li i {
    display: inline-block;
    width: 296px;
    height: 180px;
    margin-bottom: 20px;
}

.video .vd_bd ul li i img {
    width: 100%;
}

.sitefooter {
    background-color: #fff;
}

.sitefooter .w {
    height: 332.5px;
}

.sitefooter .w .service {
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
}

.sitefooter .w .service li {
    float: left;
    margin-top: 27px;
    text-align: center;
    width: 244px;
    height: 25px;
}

.sitefooter .w .service li:nth-child(-n+4) {
    border-right: 1px solid #e0e0e0;
}

.sitefooter .w .service li span {
    float: left;
    margin-left: 50px;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    color: #616161;
}

.sitefooter .w .service li span::before {
    content: '';
    float: left;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

.sitefooter .w .service li:nth-child(1) span::before {
    background: url(../img/footer/icon/weixiu.png)no-repeat;
    background-position: 1px 1px;
    background-size: 100%;
}

.sitefooter .w .service li:nth-child(2) span::before {
    background: url(../img/footer/icon/7tian.png)no-repeat;
    background-position: 1px 1px;
    background-size: 90%;
}

.sitefooter .w .service li:nth-child(3) span::before {
    background: url(../img/footer/icon/15tian.png)no-repeat;
    background-position: 1px 1px;
    background-size: 100%;
}

.sitefooter .w .service li:nth-child(4) span::before {
    background: url(../img/footer/icon/gift.png)no-repeat;
    background-position: 1px 1px;
    background-size: 100%;
}

.sitefooter .w .service li:nth-child(5) span::before {
    background: url(../img/footer/icon/didian.png)no-repeat;
    background-position: 1px 1px;
    background-size: 100%;
}

.sitefooter .w .link {
    padding-top: 30px;
    height: 222.5px;
}

.sitefooter .w .link dl {
    float: left;
    width: 160px;
}

.sitefooter .w .link dl dt {
    margin-bottom: 30px;
    font-size: 14px;
    color: #424242;
}

.sitefooter .w .link dl dd {
    font-size: 12px;
    margin: 10px 0 0;
    color: #757575;
}

.sitefooter .w .link .contact {
    float: right;
    width: 252px;
    height: 111px;
    text-align: center;
    color: #616161;
    border-left: 1px solid #e0e0e0;
}

.sitefooter .w .link .contact .phone {
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

.sitefooter .w .link .contact p {
    font-size: 12px;
    margin: 0 0 5px 0;
}

.sitefooter .w .link .contact button {
    width: 120px;
    height: 30px;
    background-color: #fff;
    color: #ff6700;
    border: 1px solid #ff6700;
}

.sitefooter .w .link .contact .follow {
    width: 120px;
    font-size: 12px;
    margin: 10px 0 0 60px;
}

.sitefooter .w .link .contact .follow i {
    float: right;
    display: block;
    width: 24px;
    height: 24px;
}

.sitefooter .w .link .contact .follow i:nth-child(1) {
    background: url(../img/footer/icon/wechat.png);
    background-size: 100%;
    margin-left: 5px;
}

.sitefooter .w .link .contact .follow i:nth-child(2) {
    background: url(../img/footer/icon/sina.png);
    background-size: 100%;
}

.siteinfo {
    height: 246.5px;
}

.siteinfo .w {
    margin-top: 30px;
    height: 137.5px;
}

.siteinfo .w .infotext {
    height: 90.5px;
}

.siteinfo .w .infotext .logo2 {
    float: left;
    width: 57px;
    height: 57px;
}

.siteinfo .w .infotext .sites,
.siteinfo .w .infotext p {
    display: block;
    float: left;
    margin-left: 14px;
    font-size: 12px;
}

.siteinfo .w .infotext .sites {
    color: #757575;
}

.siteinfo .w .infolinks {
    height: 33px;
    margin-left: 71px;
}

.siteinfo .w .infolinks li {
    float: left;
}

.siteinfo .w .infolinks li:nth-child(-n+4) {
    width: 85px;
    height: 33px;
}

.siteinfo .w .infolinks li:nth-child(1) {
    background: url(../img/footer/truste.png)no-repeat;
    background-size: 100%;
}

.siteinfo .w .infolinks li:nth-child(2) {
    background: url(../img/footer/v-logo-1.png)no-repeat;
    background-size: 100%;
}

.siteinfo .w .infolinks li:nth-child(3) {
    background: url(../img/footer/v-logo-2.png)no-repeat;
    background-size: 100%;
}

.siteinfo .w .infolinks li:nth-child(4) {
    background: url(../img/footer/v-logo-3.png)no-repeat;
    background-size: 100%;
}

.siteinfo .w .infolinks li:nth-child(5) {
    width: 106px;
    height: 40px;
    margin-top: -10px;
    background: url(../img/footer/v-logo-4.png)no-repeat;
    background-size: 100%;
}

.siteinfo .slogan {
    margin-top: 30px;
    height: 19px;
    background: url(../img/footer/slogan2020.png)no-repeat 440px 0;
}